<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iframe Simulator</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            /*overflow: hidden;*/
        }
        .user-infos {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 400px;
        }
        .iframe-container {
            position: absolute;
            top: 0;
            left: 400px;
            /*bottom: 0;*/
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .iframe-container p {
            font-size: 50px;
            text-align: center;
            width: 70%;
            line-height: 45px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        .sf-toolbar {
            display: none !important;
        }

        .loader-overlay {
            position: absolute;
            width: 100px;
            height: 100px;
			top: 0;
			left: 0;
            display: none;
            background-color: rgba(255, 255, 255, 0.6);
        }

        .loader-overlay.visible {
            display: flex;
        }

        .spinner {
            width: 80px;
            height: 80px;
            margin: auto auto;
            background-color: #007bff;

            border-radius: 100%;
            -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
            animation: sk-scaleout 1.0s infinite ease-in-out;
        }

        @-webkit-keyframes sk-scaleout {
            0% { -webkit-transform: scale(0) }
            100% {
                -webkit-transform: scale(1.0);
                opacity: 0;
            }
        }

        @keyframes sk-scaleout {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
            } 100% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
                opacity: 0;
            }
        }

        @media (max-width: 640px) {
            .user-infos, .iframe-container {
                position: static;
                width: 100%;
            }

            html, body {
                overflow: visible;
                height: auto;
            }

            iframe {
                height: 1500px;
            }
        }
    </style>
</head>
<body>
    <div>
        <div class="user-infos pl-4 pt-4 pb-4 pr-4 border-right">
            {% if not(loginMode) %}
            <div class="actions mb-2">
                <button type="button" class="btn btn-secondary btn-lg btn-block refresh-button"><i class="fa fa-sync-alt"></i> Rafraichir</button>
            </div>
            <hr />
            {% endif %}
            <h2 class="mb-4 mt-2">Infos utilisateur</h2>
            <form action="" class="user-form">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Civilité</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="civilite" required value="{% if user is defined and user and user.civilite %}{{user.civilite}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Nom</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="nom" required value="{% if user is defined and user and user.nom %}{{user.nom}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Prénom</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="prenom" required value="{% if user is defined and user and user.prenom %}{{user.prenom}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">E-mail</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="email" name="email" required value="{% if user is defined and user and user.email %}{{user.email}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Date de naissance</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="date" name="naissanceDate" value="{% if user is defined and user and user.naissanceDate %}{{user.naissanceDate}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Carte U</label>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" name="carteu" value="{% if user is defined and user and user.carteu %}{{user.carteu}}{% endif %}" />
                    </div>
                </div>
                <div class="form-group text-right">
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
            <div class="users">
                <ul class="list-group">
                    {% for user in users %}
                        <li href="#" class="list-group-item flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <h5 class="mb-1">{{ user.firstname }} {{ user.lastname }}</h5>
                                    <p class="mb-1">{{ user.email }}</p>
                                    <small>{{ user.card }}</small>
                                </div>
                                <button class="load-user-button btn btn-sm" data-content="{{ { civilite: user.title, nom: user.firstname, prenom: user.lastname, email: user.email, naissanceDate: user.birthdate|date('Y-m-d'), carteu: user.card }|json_encode }}">
                                    <i class="fa fa-arrow-right"></i>
                                    Charger
                                </button>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="iframe-container">
            {% if not(loginMode) %}
            <iframe src="about:blank" frameborder="0"  id="iframe_generique"></iframe>
            {% else %}
                <p>
                    Veuillez vous connecter en utilisant un utilisateur existant ou en en créant un nouveau.
                </p>
            {% endif %}
        </div>
    </div>
    <div class="loader-overlay">
        <div class="spinner"></div>
    </div>
    <script src="https://unpkg.com/js-sha1@0.6.0/src/sha1.js"></script>
    <script>
        var _iframe_url_ = '{{ url( 'index' ) }}';
        var _simulator_url_ = '{{ url( 'iframe_simulator' ) }}';
        var _hash_key_ = '{{ appSecret }}';
        var loader = document.querySelector( '.loader-overlay' );
        var iframe = document.querySelector( 'iframe' );
        var form = document.querySelector( '.user-form' );
        function loadUrl( url )
        {
            loader.classList.add( 'visible' );
            iframe.src = url;
        }

        function logUser( user )
        {
            document.location.href = _simulator_url_ + '?user=' + encodeURIComponent( JSON.stringify( user ) );
        }

        function generateIframeUrl( user )
        {
            if ( !user )
            {
                return _iframe_url_;
            }
            var userBase64 = btoa( JSON.stringify( user ) );
            return _iframe_url_ + '?user=' + userBase64 + '&hash=' +  sha1( sha1( userBase64 + _hash_key_ ) );
        }
        {% if not(loginMode) %}
            window.addEventListener( 'load', function() {
                loadUrl( generateIframeUrl( {% if user is defined and user %}{{ user|json_encode|raw }}{% endif %} ) );
            } );

            iframe.addEventListener( 'load', function() {
                loader.classList.remove( 'visible' );
            } );

            document.querySelector( '.refresh-button' ).addEventListener( 'click', function() {
                loadUrl( iframe.src );
            } );
        {% endif %}

        document.querySelectorAll( '.load-user-button' ).forEach( function( button ) {
            button.addEventListener( 'click', function( event ) {
                var values = JSON.parse( button.dataset.content );
                for ( name in values )
                {
                    document.querySelector( '.user-form input[name="' + name + '"]' ).value = values[ name ];
                }
                {% if not(loginMode) %}
                form.dispatchEvent( new Event('submit') );
                {% else %}
                loader.classList.add( 'visible' );
                logUser( values );
                {% endif %}
            } );
        } );

        form.addEventListener( 'submit', function( event ) {
            event.preventDefault();
            var fields = [].reduce.call( event.currentTarget.elements, function (data, element) {
                if ( element.name && element.value )
                {
					if ( element.name == 'naissanceDate' ){
						var d = new Date( element.value );
						data[ element.name ] = d.getTime() / 1000;
					} else {
                    	data[ element.name ] = element.value;
					}
                }
                return data;
            }, {} );
            {% if not(loginMode) %}
            loadUrl( generateIframeUrl( fields ) );
            {% else %}
            logUser( fields );
            {% endif %}
        } );
    </script>
    <script src="{{ asset( 'js/iframe.js' ) }}"></script>
</body>
</html>