{% extends 'base.html.twig' %}

{% block title %}Système U - Ticket d'Or{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset( 'css/main.css' ) }}" />
{% endblock %}

{% block body %}
    <div id="appContainer">
        Périphérique non compatible
    </div>
{% endblock %}

