{% extends 'base.html.twig' %}

{% block title %}Système U - Ticket d'Or{% endblock %}

{% block stylesheets %}
	{% if not app.request.query.get('shared')  %}
    <link rel="stylesheet" href="{{ asset( 'css/main.css' ) }}" />
	<style>
		#appContainer {
			width: 100vw !important;
		}
	</style>
		{% endif %}
{% endblock %}

{% block body %}
    <div id="appContainer"></div>
{% endblock %}

{% block javascripts %}
    {% if not app.request.query.get('shared')  %}
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId            : '{{ facebookAppId }}',
				autoLogAppEvents : true,
				xfbml            : true,
				version          : 'v3.1'
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/fr_FR/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<script type="text/javascript">
		var ASSET_PATH = '{{ app.request.basePath }}/ar-module/assets/';
	</script>
	<script type="text/javascript" src="{{ asset( 'ar-module/s-u-ar.js' ) }}?rand={{ random() }}"></script>
	<script type="text/javascript" src="{{ asset( 'ar-module/vendor/ar.js' ) }}?rand={{ random() }}"></script>
	<script type="text/javascript">
		var config = {
			absoluteBaseUrl: '{{ app.request.scheme ~ "://" ~ app.request.host ~ app.request.baseUrl}}/',
            baseURL: '{{ app.request.baseUrl }}/',
            assetBaseURL: '{{ app.request.basePath }}',
            apiURL: '{{ app.request.baseUrl }}/api/',
			loginURL: '{{loginUrl}}',
			redirURL: '{{ redirectUrl }}',
			shareURL: '{{shareUrl}}',
			maxUserFailedCodeAttempts: {{maxUserFailedCodeAttempts}},
			gameSessionAttemptsLimit: {{gameSessionAttemptsLimit}},
			og_image: '{{ og_img }}',
			og_description: '{{ og_description }}',
			og_title: '{{ og_title }}',
		};
		var preloadedState = {{ preloadedState|raw }};
	</script>

	<script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_id }}"></script>
	<script>
        window.GA_TRACKING_ID = '{{ ga_id }}';
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', GA_TRACKING_ID );
	</script>

    <script type="text/javascript" src="{{ asset( 'js/main.js' ) }}?rand={{ random() }}"></script>
		{% else %}
			<script>

                window.location = '{{ redirectUrl }}';
			</script>
	{% endif %}
{% endblock %}
