<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1">
        <meta property="fb:app_id" content="{{ facebookAppId }}" >
        <meta property="og:title" content="{{ og_title }}" />
        <meta property="og:description" content="{{ og_description }}" />

        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://www.magasins-u.com/leticketdor" />
        <meta property="og:image" content="{{ og_img }}?v=2" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ og_title }}">
        <meta name="twitter:image" content="{{ og_img|replace({'fb':'twitter'}) }}">


        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
