<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
	@media only screen and (max-width: 480px) {
		*[class~=hide_on_mobile] {
			display: none !important;
		}

		*[class~=show_on_mobile] {
			display: block !important;
			width: auto !important;
			max-height: inherit !important;
			overflow: visible !important;
			float: none !important;
		}
	}
</style>
</head>
<body bgcolor="#a30b2b">
	<table style="width: 100%">
		<tr>
			<td class="hide_on_mobile">
				<table border="0" cellpadding="0" cellspacing="0" width="600" style="margin: 0 auto;border-collapse: collapse">
					<tr height="136">
						<td width="600" height="136" style="background-color: white">
							<img width="600" height="136" src="{{ absolute_url( asset('emails/game-session-creation/images/header.png') ) }}" alt="">
						</td>
					</tr>
					<tr height="25">
						<td width="600" height="25" style="background-color: white">
							<table border="0" cellpadding="0" cellspacing="0" width="600">
								<tr height="25">
									<td height="25" width="145"><img src="{{  absolute_url( asset('emails/game-session-creation/images/background-top-left.png') ) }}" width="145" height="25" alt=""></td>
									<td height="25" width="310" style="text-align: center; vertical-align: middle; font-family: Arial; color: #555555; font-size: 20px;">
										Bonjour {{user.firstname}},
									</td>
									<td height="25" width="145"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="600" style="background-color: white">
							<table border="0" cellpadding="0" cellspacing="0" width="600">
								<tr>
									<td height="127" width="65"><img src="{{  absolute_url( asset('emails/game-session-creation/images/background-bottom-left.png') ) }}" alt="" width="65" height="127"></td>
									<td height="127" width="470">
										<table width="470" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td style="text-align: center; vertical-align: middle; color:#555555; font-family: Arial; font-size: 14px">
													Vous avez entré un code de participation à notre jeu<br />
													<b>La Chasse au Tickets d'Or,</b> venez donc tenter votre chance !
												</td>
											</tr>
											<tr height="15">
												<td height="15"></td>
											</tr>
											<tr>
												<td style="text-align: center; vertical-align: middle; color:#de1e43; font-family: Arial; font-size: 14px">
													Il ne vous reste qu'une dernière étape pour tenter de remporter<br />
													jusqu'à <b>250€ Carte U</b> par partie !
												</td>
											</tr>
											<tr>
												<td></td>
											</tr>
										</table>
									</td>
									<td height="127" width="65"><img src="{{  absolute_url( asset('emails/game-session-creation/images/background-bottom-right.png') ) }}" alt="" width="65" height="127"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="20">
						<td width="600" height="20"></td>
					</tr>
					<tr height="452">
						<td width="600" height="452" style="background-color: white"><img width="600" height="452" src="{{absolute_url( asset('emails/game-session-creation/images/howtoplay.png') ) }}" alt=""></td>
					</tr>
					<tr height="60">
						<td width="600" height="60">
							<table width="600" style="background-color: white">
								<tr height="60">
									<td width="200" height="60" style=""></td>
									<td width="200" height="60">
										<table border="0" cellpadding="0" cellspacing="0" width="200">
											<tr>
												<td width="200" height="30" style=" background-color: #de1e43">
													<a href="{{ app_url }}"><img width="200" height="30" src="{{  absolute_url( asset('emails/game-session-creation/images/playbutton.png') ) }}" alt=""></a>
												</td>
											</tr>
											<tr>
												<td width="200" height="30"></td>
											</tr>
										</table>
									</td>
									<td width="200" height="60" style=""></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="20">
						<td width="600" height="20"></td>
					</tr>
					<tr height="182">
						<td width="600" height="182" style=" background-color: #e4315c">
							<a href="{{ faq_url }}">
								<img src="{{  absolute_url( asset('emails/game-session-creation/images/faq.png') ) }}" alt="" width="600" height="182" />
							</a>
						</td>
					</tr>
					<tr height="20">
						<td width="600" height="20"></td>
					</tr>
					<tr>
						<td width="600" style="text-align: center; font-size: 11px; font-family: arial; color: #ddb9be; line-height: 16px;">
							Conformément à la réglementation applicable en matière de protection des données à caractère personnel, vous disposez<br />
							d’un droit d’accès, de rectification, de suppression et de portabilité de vos données, ainsi que d’un droit<br />
							d’opposition et de limitation à l'ensemble des données vous concernant. Vous disposez également du droit de décider du<br />
							sort de vos données après votre décès. Ces droits s'exercent soit en écrivant : Coopérative U Enseigne - Direction<br />
							Marketing – Service Fidélisation, Data & CRM -20 rue d'Arcueil – CS 10043 – 94533 Rungis Cedex - soit par email<br />
							:contact_donnees_personnelles@systeme-u.fr Vous pouvez à tout moment exercer votre droit de recours auprès de<br />
							l’Autorité compétente en matière de protection des données personnelles (CNIL).<br />

						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="show_on_mobile" style="display: none">
				<table border="0" cellpadding="0" cellspacing="0" width="300" style="margin: 0 auto;border-collapse: collapse">
					<tr height="335" style="background-color: white">
						<td>
							<table border="0" cellpadding="0" cellspacing="0" width="300" style="margin: 0 auto;border-collapse: collapse">
								<tr height="30">
									<td width="300" height="30">
										<img width="300" height="30" src="{{  absolute_url( asset('emails/game-session-creation/images/background-top-mobile.png') ) }}" alt="">
									</td>
								</tr>
								<tr height="105">
									<td width="300" height="43">
										<table border="0" cellpadding="0" cellspacing="0" width="300" style="margin: 0 auto;border-collapse: collapse">
											<tr height="105">
												<td width="110" height="105">
													<img width="110" height="105" src="{{  absolute_url( asset('emails/game-session-creation/images/background-left-mobile.png') ) }}" alt="">
												</td>
												<td height="105" width="80">
													<img width="80" src="{{  absolute_url( asset('emails/game-session-creation/images/logo-mobile.png') ) }}" alt="" />
												</td>
												<td width="110" height="105">
													<img width="110" height="105" src="{{  absolute_url( asset('emails/game-session-creation/images/background-right-mobile.png') ) }}" alt="">
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr height="43">
									<td width="300" height="43">
										<table border="0" cellpadding="0" cellspacing="0" width="300" style="margin: 0 auto;border-collapse: collapse">
											<tr height="43">
												<td width="43" height="43">
													<img width="43" height="43" src="{{  absolute_url( asset('emails/game-session-creation/images/background-left-bottom-mobile.png') ) }}" alt="">
												</td>
												<td height="43" width="214" style="text-align: center; vertical-align: middle; font-family: Arial; color: #555555; font-size: 20px;">
													Bonjour {{user.firstname}},
												</td>
												<td width="43" height="43">
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr height="10">
									<td height="10"></td>
								</tr>
								<tr height="55">
									<td width="300" height="55" style="text-align: center; vertical-align: middle; color:#555555; font-family: Arial; font-size: 14px">
										Vous avez entré un code de participation à<br />
										notre jeu <b>La Chasse au Tickets d'Or,</b>
										venez donc tenter votre chance !
									</td>
								</tr>
								<tr height="15">
									<td width="300" height="15">

									</td>
								</tr>
								<tr height="55">
									<td width="300" height="55" style="text-align: center; vertical-align: middle; color:#de1e43; font-family: Arial; font-size: 14px">
										Il ne vous reste qu'une dernière étape<br />
										pour tenter de remporter<br />
										jusqu'à <b>250€ Carte U</b> par partie !
									</td>
								</tr>
								<tr height="20">
									<td width="300" height="20">

									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr height="10">
						<td height="10" width="300"></td>
					</tr>
					<tr height="734">
						<td height="734" width="300">
							<a href="{{ app_url }}">
								<img height="734" width="300" src="{{  absolute_url( asset('emails/game-session-creation/images/howtoplay-mobile.png') ) }}" alt="">
							</a>
						</td>
					</tr>
					<tr height="10">
						<td height="10" width="300">
						</td>
					</tr>
					<tr height="212">
						<td width="300" height="212">
							<a href="{{ faq_url }}">
								<img width="300" height="212" src="{{  absolute_url( asset('emails/game-session-creation/images/faq-mobile.png') ) }}" alt="" />
							</a>
						</td>
					</tr>
					<tr height="15">
						<td height="15" width="300">
						</td>
					</tr>
					<tr>
						<td width="300" style="text-align: center; font-size: 11px; font-family: arial; color: #ddb9be; line-height: 16px;">
							Conformément à la réglementation applicable en matière de protection des données à caractère personnel, vous disposez<br />
							d’un droit d’accès, de rectification, de suppression et de portabilité de vos données, ainsi que d’un droit<br />
							d’opposition et de limitation à l'ensemble des données vous concernant. Vous disposez également du droit de décider du<br />
							sort de vos données après votre décès. Ces droits s'exercent soit en écrivant : Coopérative U Enseigne - Direction<br />
							Marketing – Service Fidélisation, Data & CRM -20 rue d'Arcueil – CS 10043 – 94533 Rungis Cedex - soit par email<br />
							:contact_donnees_personnelles@systeme-u.fr Vous pouvez à tout moment exercer votre droit de recours auprès de<br />
							l’Autorité compétente en matière de protection des données personnelles (CNIL).<br />
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>