<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <title>U, Commer&ccedil;ants autrement</title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse:collapse;}
    </style>
    <![endif]-->
    <style type="text/css">
        /* Basics */
        body {
            margin:0px auto !important;
            padding:0px;
        }
        table {
            border-spacing:0;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
            margin:0;
            padding:0;
            border:none;
        }
        td {
            padding:0;
        }
        img {
            border:0;
            display:block;
            -ms-interpolation-mode:bicubic;
            outline:none;
        }
        div[style*="margin:16px 0"] {
            margin:0 !important;
        }
        a[x-apple-data-detectors] {
            color:inherit !important;
            text-decoration:none !important;
            font-size:inherit !important;
            font-family:inherit !important;
            font-weight:inherit !important;
            line-height:inherit !important;
        }
        th {
            padding:0px;
            margin:0px;
            border:0px;
            font-weight:normal;
        }
        .ReadMsgBody {
            width:100%;
        }
        .ExternalClass {
            mso-line-height-rule:exactly;
            line-height:100%;
            width:100%;
        }
        * {
            -webkit-text-size-adjust:none;
            -ms-text-size-adjust:none;
        }
        img {
            height:auto !important;
        }
        .applelinks01 * {
            color:#E9B3BF !important;
            text-decoration:none !important;
        }
        .visibility_mobile {
            display:none;
            mso-hide:all; /* hide elements in Outlook 2007-2013 */
            visibility:hidden;
            max-height:0;
            font-size:0;
            line-height:0;
            padding:0;
        }
        @media only screen and (max-width:600px) {
            html, body, th {
                -webkit-text-size-adjust:none;
            }
            div[class="body"] .width100pc {
                width:100% !important;
            }
            div[class="body"] .width300px {
                width:300px !important;
            }
            div[class="body"] .width76px {
                width:76px !important;
            }
            div[class="body"] .heightauto {
                height:auto !important;
            }
            div[class="body"] .displayblock {
                display:block !important;
            }
            div[class="body"] .displaynone {
                display:none !important;
            }
            div[class="body"] .textaligncenter {
                text-align:center !important;
            }
            div[class="body"] .heightauto {
                height:auto !important;
            }
            div[class="body"] .marginauto {
                margin:0px auto !important;
            }
            div[class="body"] .verticalaligntop {
                vertical-align:top !important;
            }
            div[class="body"] .verticalalignmiddle {
                vertical-align:middle !important;
            }
            div[class="body"] .verticalalignbottom {
                vertical-align:bottom !important;
            }
            div[class="body"] .fontsize24px {
                font-size:24px !important;
            }
            div[class="body"] .fontsize18px {
                font-size:18px !important;
            }
            div[class="body"] .fontsize14px {
                font-size:14px !important;
            }
            div[class="body"] .lineheight200pc {
                line-height:200% !important;
            }
            div[class="body"] .lineheight180pc {
                line-height:180% !important;
            }
            div[class="body"] .lineheight160pc {
                line-height:160% !important;
            }
            div[class="body"] .lineheight140pc {
                line-height:140% !important;
            }
            div[class="body"] .lineheight120pc {
                line-height:120% !important;
            }
            div[class="body"] .paddingt40px {
                padding-top:40px !important;
            }
            div[class="body"] .paddingr40px {
                padding-right:40px !important;
            }
            div[class="body"] .paddingrb40px {
                padding-bottom:40px !important;
            }
            div[class="body"] .paddingl40px {
                padding-left:40px !important;
            }
            div[class="body"] .paddingt30px {
                padding-top:30px !important;
            }
            div[class="body"] .paddingr30px {
                padding-right:30px !important;
            }
            div[class="body"] .paddingb30px {
                padding-bottom:30px !important;
            }
            div[class="body"] .paddingl30px {
                padding-left:30px !important;
            }
            div[class="body"] .paddingt20px {
                padding-top:20px !important;
            }
            div[class="body"] .paddingr20px {
                padding-right:20px !important;
            }
            div[class="body"] .paddingb20px {
                padding-bottom:20px !important;
            }
            div[class="body"] .paddingl20px {
                padding-left:20px !important;
            }
            div[class="body"] .paddingt10px {
                padding-top:10px !important;
            }
            div[class="body"] .paddingr10px {
                padding-right:10px !important;
            }
            div[class="body"] .paddingb10px {
                padding-bottom:10px !important;
            }
            div[class="body"] .paddingl10px {
                padding-left:10px !important;
            }
            div[class="body"] .paddingt0px {
                padding-top:0px !important;
            }
            div[class="body"] .paddingr0px {
                padding-right:0px !important;
            }
            div[class="body"] .paddingb0px {
                padding-bottom:0px !important;
            }
            div[class="body"] .paddingl0px {
                padding-left:0px !important;
            }
            div[class="body"] .fond_01 {
                background:url(https://mailing-magasins-u.greenshift.eu/images/fond_01_responsive.gif) no-repeat top center #FFFFFF !important;
                background-image:url(https://mailing-magasins-u.greenshift.eu/images/fond_01_responsive.gif) !important;
                background-position:top center !important;
                background-repeat:no-repeat !important;
                height:405px !important;
            }
            div[class="body"] .visibility_mobile {
                max-height:none !important;
                font-size:1px !important;
                display:block !important;
                overflow:visible !important;
                visibility:visible !important;
                line-height:1px !important;
                float:none !important;
            }
        }
    </style>
    <!--[if gte mso 9]><xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <!--[if mso]><xml xmlns:w="urn:schemas-microsoft-com:office:word"><w:WordDocument><w:AutoHyphenation/></w:WordDocument></xml><![endif]-->
</head>
<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
    <tr>
        <td style="width:100%; padding:0px; margin:0px;"><div class="body">
                <table height="100%" cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                    <tr>
                        <td valign="top" align="center"><center style="width:100%; table-layout: fixed; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0 auto;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                    <tr>
                                        <td valign="top" align="center" bgcolor="#B40027"><!-- DEBUT PRE-HEADER -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                <tr>
                                                    <td align="center" style="font-family:Arial, helvetica, sans-serif; font-size:10px; color:#FFFFFF; padding:10px 0; mso-line-height-rule:exactly; line-height:16px; text-align:center;">Le Ticket d'Or ne vous a pas échappé ! <a href="{{ app.request.getSchemeAndHttpHost()}}{{ path('mail-gain', {'prenom': user.firstname,'total_reward': total_reward, 'amount': reward_amount}) }}"><span class="nl-dce-fragment" data-nl-name="MirrorPage" data-nl-label="Lien vers la page miroir (MirrorPage)" style="color:#FFFFFF; text-decoration:underline;">Version en ligne</span></a>
                                                    </td>
                                                </tr>
                                            </table>

                                            <!-- FIN PRE-HEADER -->

                                            <!-- DEBUT HEADER -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#FFFFFF"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/logo.gif" alt="U, Commer&ccedil;ants autrement" width="600" height="140" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#138AAD; font-size:14px;" title="U, Commer&ccedil;ants autrement" class="displaynone" />
                                                        <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                <tr>
                                                                    <td align="center"><a href="{{ app_url }}" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/logo_responsive.gif" alt="U, Commer&ccedil;ants autrement" width="300" height="140" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#138AAD; font-size:14px; margin:0px auto;" title="U, Commer&ccedil;ants autrement" /></a></td>
                                                                </tr>
                                                            </table>
                                                        </div></td>
                                                </tr>
                                            </table>

                                            <!-- FIN HEADER -->

                                            <!-- DEBUT EDITO -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#FFFFFF" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto; width:100%;">
                                                            <tr>
                                                                <td background="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/fond_01.gif" width="600" height="310" valign="top" class="fond_01" style="vertical-align:top; width:600px; height:310px;"><!--[if gte mso 9]>
                                                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:310px;vertical-align:top;">
                                                                        <v:fill type="frame" src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/fond_01.gif" color="#FFFFFF" />
                                                                        <v:textbox inset="0,0,0,0">
                                                                    <![endif]-->

                                                                    <div>
                                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                                            <tr>
                                                                                <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:20px; mso-line-height-rule:exactly; line-height:26px; font-weight:bold; padding-bottom:10px;" class="fontsize24px lineheight140pc paddingr20px paddingl20px">Bonjour <span class="nl-dce-field" data-nl-expr="/context/profile/firstName" data-nl-type="string">{{ user.firstname }}</span>,</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px;">Votre Magasin U vous f&eacute;licite de votre gain<br />
                                                                                    lors de votre <span style="font-weight:bold;">Chasse aux Tickets d'Or</span>.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="padding:10px 0;"><table border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto;">
                                                                                        <tr>
                                                                                            <th style="font-weight:normal; padding:0px; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; color:#de1e43; font-size:20px; mso-line-height-rule:exactly; font-weight:bold;" valign="middle" class="displayblock fontsize24px lineheight120pc">Vous avez remport&eacute;<br />
                                                                                                {{reward_amount}}&euro; Carte U&nbsp;!</th>
                                                                                            <th style="font-weight:normal; padding:0px; font-size:1px; line-height:1px; width:20px; height:10px;" height="10" width="20" class="displayblock">&nbsp;</th>
                                                                                            <th align="center" style="font-weight:normal; padding:0px; vertical-align:middle; text-align:center;" valign="middle" class="displayblock"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/{{ reward_amount }}_euro/images/ticket.jpg" alt="Le Ticket d'Or" width="90" height="133" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#D6BF00; font-size:14px; margin:0px auto;" title="Le Ticket d'Or" class="width76px heightauto" /></th>
                                                                                        </tr>
                                                                                    </table></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px; padding-bottom:20px;">L'ensemble de vos gains au jeu "La <br class="visibility_mobile" style="displaynone" />
                                                                                    Chasse aux Tickets d'Or" <br class="displaynone" />
                                                                                    s'&eacute;l&egrave;ve &agrave; {{ total_reward }} &euro;<br class="visibility_mobile" style="displaynone" />
                                                                                     Carte U. Ces gains seront cr&eacute;dit&eacute;s sur <br />
                                                                                    <span style="font-weight:bold;">votre Carte U en fin d'op&eacute;ration <br class="visibility_mobile" style="displaynone" />
                                          &agrave; partir du 07/12/2018.</span></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>

                                                                    <!--[if gte mso 9]>
                                                                    </v:textbox>
                                                                    </v:rect>
                                                                    <![endif]--></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>

                                            <!-- FIN EDITO -->

                                            <!-- DEBUT VISUEL -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#B40027"><table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                            <tr>
                                                                <th style="font-weight:normal; padding:0px;" class="displayblock"><a href="{{ app_url }}" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/visuel_01.jpg" alt="Obtenez de nouvelles chances de remporter jusqu'&agrave; 250&euro; Carte U ! En savoir plus" width="340" height="258" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:18px; margin:0px auto;" title="Obtenez de nouvelles chances de remporter jusqu'&agrave; 250&euro; Carte U ! En savoir plus" class="displaynone" /></a>
                                                                    <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                            <tr>
                                                                                <td><a href="{{ app_url }}" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/visuel_01_responsive.jpg" alt="Obtenez de nouvelles chances de remporter jusqu'&agrave; 250&euro; Carte U ! En savoir plus" width="300" height="250" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:18px; margin:0px auto;" title="Obtenez de nouvelles chances de remporter jusqu'&agrave; 250&euro; Carte U ! En savoir plus" /></a></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div></th>
                                                                <th class="displayblock" style="font-weight:normal; padding:0px;"><a href="{{ app_url }}" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/visuel_02.jpg" alt="Rendez-vous vite dans votre Magasin U, jusqu'au dimanche 2 d&eacute;cembre 2018(1) pour obtenir de nouveaux tickets Le ticket d'Or." width="260" height="258" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#D6BF00; font-size:14px; margin:0px auto;" title="Rendez-vous vite dans votre Magasin U, jusqu'au dimanche 2 d&eacute;cembre 2018(1) pour obtenir de nouveaux tickets Le ticket d'Or." class="displaynone" /></a>
                                                                    <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                            <tr>
                                                                                <td><a href="{{ app_url }}" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/gain/1_euro/images/visuel_02_responsive.jpg" alt="Rendez-vous vite dans votre Magasin U, jusqu'au dimanche 2 d&eacute;cembre 2018(1) pour obtenir de nouveaux tickets Le ticket d'Or." width="300" height="200" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#D6BF00; font-size:14px; margin:0px auto;" title="Rendez-vous vite dans votre Magasin U, jusqu'au dimanche 2 d&eacute;cembre 2018(1) pour obtenir de nouveaux tickets Le ticket d'Or." /></a></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div></th>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>

                                            <!-- FIN VISUEL -->

                                            <!-- DEBUT MENTIONS -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td align="center" style="text-align:center; font-size:11px; color:#E9B3BF; line-height:17px; mso-line-height-rule:exactly; font-family:Arial, Helvetica, sans-serif; padding:25px;" class="paddingr0px paddingl0px"><span class="applelinks01">(1) Selon ouverture de chaque magasin U, voir conditions sur <a href="http://magasins-u.com" target="_blank" style="color:#E9B3BF; text-decoration:none;">magasins-u.com</a>.<br />
                            <br />
                            Conform&eacute;ment &agrave; la r&eacute;glementation applicable en mati&egrave;re de protection des donn&eacute;es &agrave; caract&egrave;re personnel, vous disposez d'un droit d'acc&egrave;s, de rectification, de suppression et de portabilit&eacute; de vos donn&eacute;es, ainsi que d'un droit d'opposition et de limitation &agrave; l'ensemble des donn&eacute;es vous concernant. Vous disposez &eacute;galement du droit de d&eacute;cider du sort de vos donn&eacute;es apr&egrave;s votre d&eacute;c&egrave;s. Ces droits s'exercent soit en &eacute;crivant&nbsp;: Coop&eacute;rative U Enseigne - Direction Marketing - Service Fid&eacute;lisation, Data &amp; CRM -20 rue d'Arcueil - CS 10043 - 94533 Rungis Cedex - soit par email&nbsp;: <a href="mailto:contact_donnees_personnelles@systeme-u.fr" target="_blank" style="color:#E9B3BF; text-decoration:none;">contact_donnees_personnelles@systeme-u.fr</a>. Vous pouvez &agrave; tout moment exercer votre droit de recours aupr&egrave;s de l'Autorit&eacute; comp&eacute;tente en mati&egrave;re de protection des donn&eacute;es personnelles (CNIL).</span></td>
                                                </tr>
                                            </table>

                                            <!-- FIN MENTIONS --></td>
                                    </tr>
                                </table>
                            </center></td>
                    </tr>
                </table>
            </div></td>
    </tr>
</table>
<img width="1" height="1" alt="" src="http://logc279.xiti.com/hit.xiti?s=537959&xtor=xtor=EPR-1-[100718_rentree_des_classes]-20180710-&type=email&" >
</body>
</html>