<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="date=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="email=no" />
    <title>U, Commer&ccedil;ants autrement</title>
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse:collapse;}
    </style>
    <![endif]-->
    <style type="text/css">
        /* Basics */
        body {
            margin:0px auto !important;
            padding:0px;
        }
        table {
            border-spacing:0;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
            margin:0;
            padding:0;
            border:none;
        }
        td {
            padding:0;
        }
        img {
            border:0;
            display:block;
            -ms-interpolation-mode:bicubic;
            outline:none;
        }
        div[style*="margin:16px 0"] {
            margin:0 !important;
        }
        a[x-apple-data-detectors] {
            color:inherit !important;
            text-decoration:none !important;
            font-size:inherit !important;
            font-family:inherit !important;
            font-weight:inherit !important;
            line-height:inherit !important;
        }
        th {
            padding:0px;
            margin:0px;
            border:0px;
            font-weight:normal;
        }
        .ReadMsgBody {
            width:100%;
        }
        .ExternalClass {
            mso-line-height-rule:exactly;
            line-height:100%;
            width:100%;
        }
        * {
            -webkit-text-size-adjust:none;
            -ms-text-size-adjust:none;
        }
        img {
            height:auto !important;
        }
        .applelinks01 * {
            color:#E9B3BF !important;
            text-decoration:none !important;
        }
        .visibility_mobile {
            display:none;
            mso-hide:all; /* hide elements in Outlook 2007-2013 */
            visibility:hidden;
            max-height:0;
            font-size:0;
            line-height:0;
            padding:0;
        }
        @media only screen and (max-width:600px) {
            html, body, th {
                -webkit-text-size-adjust:none;
            }
            div[class="body"] .width100pc {
                width:100% !important;
            }
            div[class="body"] .width300px {
                width:300px !important;
            }
            div[class="body"] .width76px {
                width:76px !important;
            }
            div[class="body"] .heightauto {
                height:auto !important;
            }
            div[class="body"] .height10px {
                height:10px !important;
            }
            div[class="body"] .displayblock {
                display:block !important;
            }
            div[class="body"] .displaynone {
                display:none !important;
            }
            div[class="body"] .textaligncenter {
                text-align:center !important;
            }
            div[class="body"] .heightauto {
                height:auto !important;
            }
            div[class="body"] .marginauto {
                margin:0px auto !important;
            }
            div[class="body"] .verticalaligntop {
                vertical-align:top !important;
            }
            div[class="body"] .verticalalignmiddle {
                vertical-align:middle !important;
            }
            div[class="body"] .verticalalignbottom {
                vertical-align:bottom !important;
            }
            div[class="body"] .fontsize24px {
                font-size:24px !important;
            }
            div[class="body"] .fontsize18px {
                font-size:18px !important;
            }
            div[class="body"] .fontsize14px {
                font-size:14px !important;
            }
            div[class="body"] .lineheight200pc {
                line-height:200% !important;
            }
            div[class="body"] .lineheight180pc {
                line-height:180% !important;
            }
            div[class="body"] .lineheight160pc {
                line-height:160% !important;
            }
            div[class="body"] .lineheight140pc {
                line-height:140% !important;
            }
            div[class="body"] .lineheight120pc {
                line-height:120% !important;
            }
            div[class="body"] .paddingt40px {
                padding-top:40px !important;
            }
            div[class="body"] .paddingr40px {
                padding-right:40px !important;
            }
            div[class="body"] .paddingrb40px {
                padding-bottom:40px !important;
            }
            div[class="body"] .paddingl40px {
                padding-left:40px !important;
            }
            div[class="body"] .paddingt30px {
                padding-top:30px !important;
            }
            div[class="body"] .paddingr30px {
                padding-right:30px !important;
            }
            div[class="body"] .paddingb30px {
                padding-bottom:30px !important;
            }
            div[class="body"] .paddingl30px {
                padding-left:30px !important;
            }
            div[class="body"] .paddingt20px {
                padding-top:20px !important;
            }
            div[class="body"] .paddingr20px {
                padding-right:20px !important;
            }
            div[class="body"] .paddingb20px {
                padding-bottom:20px !important;
            }
            div[class="body"] .paddingl20px {
                padding-left:20px !important;
            }
            div[class="body"] .paddingt10px {
                padding-top:10px !important;
            }
            div[class="body"] .paddingr10px {
                padding-right:10px !important;
            }
            div[class="body"] .paddingb10px {
                padding-bottom:10px !important;
            }
            div[class="body"] .paddingl10px {
                padding-left:10px !important;
            }
            div[class="body"] .paddingt0px {
                padding-top:0px !important;
            }
            div[class="body"] .paddingr0px {
                padding-right:0px !important;
            }
            div[class="body"] .paddingb0px {
                padding-bottom:0px !important;
            }
            div[class="body"] .paddingl0px {
                padding-left:0px !important;
            }
            div[class="body"] .fond_01 {
                background:url(https://mailing-magasins-u.greenshift.eu/images/relance/fond_01_responsive.gif) no-repeat top center #FFFFFF !important;
                background-image:url(https://mailing-magasins-u.greenshift.eu/images/relance/fond_01_responsive.gif) !important;
                background-position:top center !important;
                background-repeat:no-repeat !important;
                height:200px !important;
            }
            div[class="body"] .visibility_mobile {
                max-height:none !important;
                font-size:1px !important;
                display:block !important;
                overflow:visible !important;
                visibility:visible !important;
                line-height:1px !important;
                float:none !important;
            }
        }
    </style>
    <!--[if gte mso 9]><xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml><![endif]-->
    <!--[if mso]><xml xmlns:w="urn:schemas-microsoft-com:office:word"><w:WordDocument><w:AutoHyphenation/></w:WordDocument></xml><![endif]-->
</head>
<body style="margin:0px; padding:0px;">
<table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
    <tr>
        <td style="width:100%; padding:0px; margin:0px;"><div class="body">
                <table height="100%" cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                    <tr>
                        <td valign="top" align="center"><center style="width:100%; table-layout: fixed; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0 auto;">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                    <tr>
                                        <td valign="top" align="center" bgcolor="#B40027"><!-- DEBUT PRE-HEADER -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                <tr>
                                                    <td align="center" style="font-family:Arial, helvetica, sans-serif; font-size:10px; color:#FFFFFF; padding:10px 0; mso-line-height-rule:exactly; line-height:16px; text-align:center;">...tenter de remporter jusqu'à 250 € Carte U ! <span class="nl-dce-fragment" data-nl-name="MirrorPage" data-nl-label="Lien vers la page miroir (MirrorPage)" style="color:#FFFFFF; text-decoration:underline;">Version en ligne</span></td>
                                                </tr>
                                            </table>

                                            <!-- FIN PRE-HEADER -->

                                            <!-- DEBUT HEADER -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#FFFFFF"><a href="https://www.magasins-u.com/accueil" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/logo.gif" alt="U, Commer&ccedil;ants autrement" width="600" height="130" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#138AAD; font-size:14px;" title="U, Commer&ccedil;ants autrement" class="displaynone" /></a>
                                                        <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                <tr>
                                                                    <td align="center"><a href="https://www.magasins-u.com/accueil" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/logo_responsive.gif" alt="U, Commer&ccedil;ants autrement" width="300" height="130" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#138AAD; font-size:14px; margin:0px auto;" title="U, Commer&ccedil;ants autrement" /></a></td>
                                                                </tr>
                                                            </table>
                                                        </div></td>
                                                </tr>
                                            </table>

                                            <!-- FIN HEADER -->

                                            <!-- DEBUT EDITO -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#FFFFFF" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto; width:100%;">
                                                            <tr>
                                                                <td background="images/fond_01.gif" width="600" height="165" valign="top" class="fond_01" style="vertical-align:top; width:600px; height:165px;"><!--[if gte mso 9]>
                                                                    <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;height:165px;vertical-align:top;">
                                                                        <v:fill type="frame" src="https://mailing-magasins-u.greenshift.eu/images/relance/fond_01.gif" color="#FFFFFF" />
                                                                        <v:textbox inset="0,0,0,0">
                                                                    <![endif]-->

                                                                    <div>
                                                                        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                                            <tr>
                                                                                <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:20px; mso-line-height-rule:exactly; line-height:26px; font-weight:bold; padding-bottom:10px;" class="fontsize24px lineheight140pc paddingr20px paddingl20px">Bonjour <span class="nl-dce-field" data-nl-expr="/context/profile/firstName" data-nl-type="string">{{ prenom }}</span>,</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px;">Vous avez entr&eacute; un code de participation &agrave; <br class="visibility_mobile" style="displaynone" />
                                                                                    notre jeu <br class="displaynone" />
                                                                                    <span style="font-weight:bold;">La Chasse aux Tickets d'Or</span>, <br class="visibility_mobile" style="displaynone" />
                                                                                    venez donc tenter votre chance&nbsp;!<br />
                                                                                    <br />
                                                                                    <span style="color:#de1e43;">Il ne vous reste qu'une derni&egrave;re &eacute;tape <br class="visibility_mobile" style="displaynone" />
                                          pour tenter de remporter <br />
                                          jusqu'&agrave; <span style="font-weight:bold;">250&euro; Carte U</span> par partie&nbsp;!</span></td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>

                                                                    <!--[if gte mso 9]>
                                                                    </v:textbox>
                                                                    </v:rect>
                                                                    <![endif]--></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>

                                            <!-- FIN EDITO -->

                                            <!-- DEBUT SEPARATEUR -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td style="line-height:1px; font-size:1px; height:20px;" height="20" class="height10px">&nbsp;</td>
                                                </tr>
                                            </table>

                                            <!-- FIN SEPARATEUR -->

                                            <!-- DEBUT COPIE -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#FFFFFF" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto; width:100%;">
                                                            <tr>
                                                                <td><table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto;" align="center">
                                                                        <tr>
                                                                            <td align="center" style="text-align:center; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:25px; mso-line-height-rule:exactly; line-height:31px; font-weight:bold; padding:25px 0 15px;" class="fontsize24px lineheight140pc"><a href="#https://www.magasins-u.com/leticketdor" target="_blank" style="color:#dc1e43; text-decoration:none;">Comment jouer&nbsp;?</a></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" style="padding:10px 0;"><table border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto;" dir="rtl">
                                                                                    <tr>
                                                                                        <th dir="ltr" align="center" style="font-weight:normal; padding:0px; vertical-align:middle; text-align:center;" valign="middle" class="displayblock"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_01.gif" alt="Etape 1" width="240" height="91" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 1" class="displaynone" /></a>
                                                                                            <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                                                    <tr>
                                                                                                        <td align="center"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_01_responsive.gif" alt="Etape 1" width="260" height="110" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 1" /></a></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div></th>
                                                                                        <th dir="ltr" style="font-weight:normal; padding:0px; font-size:1px; line-height:1px; width:20px; height:10px;" height="10" width="20" class="displayblock">&nbsp;</th>
                                                                                        <th dir="ltr" style="font-weight:normal; padding:0px; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px; width:240px;" width="240" valign="middle" class="displayblock width300px"><a href="https://www.magasins-u.com/leticketdor" target="_blank" style="color:#555555; text-decoration:none;">Rendez-vous <span style="font-weight:bold;">dans les rayons<br />
                                              de votre Magasin U</span><br />
                                                                                                avec votre smartphone</a></th>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" style="padding:10px 0;"><table border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto;">
                                                                                    <tr>
                                                                                        <th align="center" style="font-weight:normal; padding:0px; vertical-align:middle; text-align:center;" valign="middle" class="displayblock"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_02.gif" alt="Etape 2" width="240" height="93" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 2" class="displaynone" /></a>
                                                                                            <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                                                    <tr>
                                                                                                        <td align="center"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_02_responsive.gif" alt="Etape 2" width="260" height="110" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 2" /></a></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div></th>
                                                                                        <th style="font-weight:normal; padding:0px; font-size:1px; line-height:1px; width:20px; height:10px;" height="10" width="20" class="displayblock">&nbsp;</th>
                                                                                        <th style="font-weight:normal; padding:0px; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px; width:240px;" width="240" valign="middle" class="displayblock width300px"><a href="https://www.magasins-u.com/leticketdor" target="_blank" style="color:#555555; text-decoration:none;"><span style="font-weight:bold;">Chassez et scannez les QR Codes</span><br />
                                                                                                dans les rayons avec votre cam&eacute;ra<br />
                                                                                                depuis <span style="color:#555555; text-decoration:underline; font-weight:bold;">leticketdor.com</span></a></th>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" style="padding:10px 0;"><table border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto;" dir="rtl">
                                                                                    <tr>
                                                                                        <th dir="ltr" align="center" style="font-weight:normal; padding:0px; vertical-align:middle; text-align:center;" valign="middle" class="displayblock"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_03.gif" alt="Etape 3" width="240" height="95" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 3" class="displaynone" /></a>
                                                                                            <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                                                                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                                                    <tr>
                                                                                                        <td align="center"><a href="https://www.magasins-u.com/leticketdor" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/etape_03_responsive.gif" alt="Etape 3" width="260" height="110" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#dc1e43; font-size:14px; margin:0px auto;" title="Etape 3" /></a></td>
                                                                                                    </tr>
                                                                                                </table>
                                                                                            </div></th>
                                                                                        <th dir="ltr" style="font-weight:normal; padding:0px; font-size:1px; line-height:1px; width:20px; height:10px;" height="10" width="20" class="displayblock">&nbsp;</th>
                                                                                        <th dir="ltr" style="font-weight:normal; padding:0px; vertical-align:middle; font-family:Arial, Helvetica, sans-serif; color:#555555; font-size:14px; mso-line-height-rule:exactly; line-height:20px; width:240px;" width="240" valign="middle" class="displayblock width300px"><a href="https://www.magasins-u.com/leticketdor" target="_blank" style="color:#555555; text-decoration:none;">D&egrave;s que la chasse commence,<br />
                                                                                                <span style="font-weight:bold;">vous avez 4 heures</span> pour scanner<br />
                                                                                                jusqu'&agrave; 5 QR Codes<br />
                                                                                                <span style="font-weight:bold;">et tenter de gagner des &euro; Carte U</span></a></th>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td align="center" style="padding:30px 0;"><table border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0px auto;">
                                                                                    <tr>
                                                                                        <td bgcolor="#F4003D" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; mso-line-height-rule:exactly; line-height:15px; font-weight:bold; text-align:center; padding:10px 25px;" align="center"><a href="https://www.magasins-u.com/leticketdor" target="_blank" style="color:#FFFFFF; text-decoration:none;">JE TENTE MA CHANCE&nbsp;&nbsp; &gt;</a></td>
                                                                                    </tr>
                                                                                </table></td>
                                                                        </tr>
                                                                    </table></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                            </table>

                                            <!-- FIN COPIE -->

                                            <!-- DEBUT SEPARATEUR -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td style="line-height:1px; font-size:1px; height:20px;" height="20" class="height10px">&nbsp;</td>
                                                </tr>
                                            </table>

                                            <!-- FIN SEPARATEUR -->

                                            <!-- DEBUT VISUEL -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td bgcolor="#B40027"><a href="https://www.magasins-u.com/leticketdor/participation?faq" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/visuel.jpg" alt="Plus de r&eacute;ponses &agrave; vos questions ? Votre Magasin U est l&agrave; pour vous ! Voir les r&eacute;ponses" width="600" height="180" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:18px; margin:0px auto;" title="Plus de r&eacute;ponses &agrave; vos questions ? Votre Magasin U est l&agrave; pour vous ! Voir les r&eacute;ponses" class="displaynone" /></a>
                                                        <div class="visibility_mobile" style="display:none; mso-hide:all; max-height:0px; overflow:hidden;">
                                                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="width:100%; margin:0px auto; mso-hide:all;" align="center">
                                                                <tr>
                                                                    <td><a href="https://www.magasins-u.com/leticketdor/participation?faq" target="_blank"><img src="https://mailing-magasins-u.greenshift.eu/images/relance/visuel_responsive.jpg" alt="Plus de r&eacute;ponses &agrave; vos questions ? Votre Magasin U est l&agrave; pour vous ! Voir les r&eacute;ponses" width="300" height="210" border="0" style="display:block; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:18px; margin:0px auto;" title="Plus de r&eacute;ponses &agrave; vos questions ? Votre Magasin U est l&agrave; pour vous ! Voir les r&eacute;ponses" /></a></td>
                                                                </tr>
                                                            </table>
                                                        </div></td>
                                                </tr>
                                            </table>

                                            <!-- FIN VISUEL -->

                                            <!-- DEBUT MENTIONS -->

                                            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px; margin:0px auto;" align="center" class="width300px">
                                                <tr>
                                                    <td align="center" style="text-align:center; font-size:11px; color:#E9B3BF; line-height:17px; mso-line-height-rule:exactly; font-family:Arial, Helvetica, sans-serif; padding:25px;" class="paddingr0px paddingl0px"><span class="applelinks01">Conform&eacute;ment &agrave; la r&eacute;glementation applicable en mati&egrave;re de protection des donn&eacute;es &agrave; caract&egrave;re personnel, vous disposez d'un droit d'acc&egrave;s, de rectification, de suppression et de portabilit&eacute; de vos donn&eacute;es, ainsi que d'un droit d'opposition et de limitation &agrave; l'ensemble des donn&eacute;es vous concernant. Vous disposez &eacute;galement du droit de d&eacute;cider du sort de vos donn&eacute;es apr&egrave;s votre d&eacute;c&egrave;s. Ces droits s'exercent soit en &eacute;crivant&nbsp;: Coop&eacute;rative U Enseigne - Direction Marketing – Service Fid&eacute;lisation, Data &amp; CRM -20 rue d'Arcueil – CS 10043 – 94533 Rungis Cedex - soit par email&nbsp;: <a href="mailto:contact_donnees_personnelles@systeme-u.fr" target="_blank" style="color:#E9B3BF; text-decoration:none;">contact_donnees_personnelles@systeme-u.fr</a>. Vous pouvez &agrave; tout moment exercer votre droit de recours aupr&egrave;s de l'Autorit&eacute; comp&eacute;tente en mati&egrave;re de protection des donn&eacute;es personnelles (CNIL).</span></td>
                                                </tr>
                                            </table>

                                            <!-- FIN MENTIONS --></td>
                                    </tr>
                                </table>
                            </center></td>
                    </tr>
                </table>
            </div></td>
    </tr>
</table>
<img width="1" height="1" alt="" src="http://logc279.xiti.com/hit.xiti?s=537959&xtor=xtor=EPR-1-[100718_rentree_des_classes]-20180710-&type=email&">
</body>
</html>