<p>{{ message }}</p>

<h4>Informations de l'utilisateur</h4>

<ul>
    <li><strong>ID</strong>: {{ user.id }}</li>
    <li><strong>E-mail</strong>: {{ user.email }}</li>
    <li><strong>Nom</strong>: {{ user.lastname }}</li>
    <li><strong>Prénom</strong>: {{ user.firstname }}</li>
    <li><strong>Date de naissance</strong>: {{ user.birthdate|date( 'd/m/Y' ) }}</li>
    <li><strong>Carte U</strong>: {{ user.card }}</li>
    <li><strong>Gains dans la journée</strong>: {{ gainsAmount }}</li>
    <li><strong>Liste des instants gagnants concernés</strong>:<br />
        <table style="border-collapse: collapse">
            <thead>
                <tr>
                    <td style="border: 1px solid black; padding: 5px">Code</td>
                    <td style="border: 1px solid black; padding: 5px">Date de début</td>
                    <td style="border: 1px solid black; padding: 5px">Date de fin</td>
                    <td style="border: 1px solid black; padding: 5px">Date de déclenchement</td>
                    <td style="border: 1px solid black; padding: 5px">Somme</td>
                </tr>
            </thead>
            <tbody>
                {% for iw in instantWins %}
                    <tr>
                        <td style="border: 1px solid black; padding: 5px">{{ iw.gameSessionAttempt.gameSession.code.id }}</td>
                        <td style="border: 1px solid black; padding: 5px">{{ iw.startDate|date( 'd/m/Y H:i' ) }}</td>
                        <td style="border: 1px solid black; padding: 5px">{{ iw.endDate|date( 'd/m/Y H:i' ) }}</td>
                        <td style="border: 1px solid black; padding: 5px">{{ iw.wonAt|date( 'd/m/Y H:i' ) }}</td>
                        <td style="border: 1px solid black; padding: 5px">{{ iw.rewardAmount }} €</td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>
    </li>
</ul>