{{ include( 'mail/suspect-gains-amount.html.twig', { message: 'Un utilisateur a dépassé le seuil de gain quotidien.', gainsAmount: user.currentDayGainsAmount, instantWins: user.currentDayInstantWins } ) }}