{{ include( 'mail/suspect-gains-amount.html.twig', { message: 'Un utilisateur a dépassé le seuil de gain hebdomadaire.', gainsAmount: user.currentWeekGainsAmount, instantWins: user.currentWeekInstantWins } ) }}